.page {
  height: 100%;
  display: flex;
  overflow-x: hidden;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content_container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}